.warning {
    color: red;
}

.success {
    color: green;
}

.box {
    border: 5px solid #122b40;
    border-radius: 5px;
    margin: 7px;
}

.chat-block {
    width: 550px;
    min-height: 100px;
    border: 3px solid tan;
    border-radius: 5px;
}

select, input {
    margin-left: 25px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #c4e3f3;
}

