h3 {
    text-align: center;
}

.chat-app {
    word-wrap: break-word;
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

.success {
    color: limegreen;
}

.warning {
    color: red;
}

#chat-appId_messageId {
    text-align: center;
}

#chat-appId_registrationFormId {
    position: absolute;
    width: 300px;
    height: 325px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    border-radius: 3%;
    padding: 10px 30px 10px 30px;
    background-color: lightgrey;
    text-align: center;
}

#chat-appId_loginFormId {
    position: absolute;
    width: 300px;
    height: 245px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    border-radius: 3%;
    padding: 10px 30px 10px 30px;
    background-color: lightgrey;
    text-align: center;
}

#chat-appId_chatId {
    margin-left: 100px;
    margin-top: 20px;
    width: 500px;
    height: 220px;
    border-radius: 1%;
    padding: 10px 35px 10px 35px;
    background-color: lightgrey;
    text-align: center;
}

.chat-block {
    min-height: 150px;
    border: 4px solid tan;
    border-radius: 5px;
    background-color: white;
}

.box {
    width: 660px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 35px 10px 35px;
    background-color: lightgrey;
}

select, input {
    width: 180px;
    height: 25px;
    border-radius: 5px;
}

#chat-appId_chatId_chatInputId,
#chat-appId_chatId_chatSelectorId {
    height: 30px;
}

textarea {
    width: 590px;
    height: 70px;
    border-radius: 5px;
}

#chat-appId_registrationFormId_registerButtonId,
#chat-appId_registrationFormId_startLoginButtonId,
#chat-appId_loginFormId_loginButtonId {
    padding: 6px 20px 6px 20px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    height: 36px;
    width: 100%;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

#chat-appId_chatId_addNewChatButtonId,
#chat-appId_chatId_joinChatButtonId {
    margin: 3px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 35%;
    height: 30px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.send-message-button {
    color: #FFF;
    background-color: #4bc970;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.close-chat {
    float: right;
}

#icon {
    color: #384047;
    margin: 5px;
}

#chat-appId_registrationFormId_startLoginButtonId,
#chat-appId_registrationFormId_registerButtonId,
#chat-appId_loginFormId_loginButtonId {
    margin-top: 16px;
}

